DB_HOST=localhost
DB_PORT=5432
DB_USER=order_user 
DB_PASSWORD=your_password_here #!!!
DB_NAME=order_service
DB_SSL_MODE=disable


KAFKA_BROKERS=localhost:9092
KAFKA_TOPIC=orders
KAFKA_GROUP_ID=order-service


SERVER_PORT=8081

LOG_LEVEL=info